{{ partial "head.html" . }}
{{ $baseurl := .Site.BaseURL }}
<body>
<div id="topbar">
<div class="wrapper">
	<header>
		<nav class="navbar">
			<ul>
				<li><a href="{{ $baseurl }}"><b>ISE</b></a></li>
				<li><a href="{{ $baseurl }}/talks">All Talks</a></li>
				<li><a href="{{ $baseurl }}/upcoming">Up Coming talks</a></li>
				<li><span><a href="{{ $baseurl }}/presentation">Presentations</a></span></li>
			</ul>
		</nav>
	</header>
</div>

</div>

<div class="wrapper">
<div class="units-row">
	<img src="img/ise_speakerbg2.jpg" alt="Banner Image" style="width: 100%"/>
</div>
<div class="units-row">
<div class="unit-66">
<div class="units-row-end">
<div class="unit-33 dateblock">
&nbsp;
</div>
<div class="unit-66">
	<h2>Recent Talks</h2>
	</div>
    </div>
    {{ range first 5 ((where .Data.Pages.ByDate "Section" "talks").Reverse) }}
<div class="units-row-end">
<div class="unit-33 dateblock">
<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<h4>{{ .Date.Format "2 January 2006" }}</h4>
</div>
<div class="unit-66">
{{ if .Truncated }}
{{ .Summary }}
<p class="text-right"><a href="{{ .RelPermalink }}">Read More…</a></p>
{{ else }}
{{ .Content }}
{{ end }}	
	<hr>
</div>
</div>

{{ end }}

<div class="units-row-end">
<div class="unit-33 dateblock">&nbsp;</div>
<div class="unit-66">			
<nav class="navbar navbar-right"><a href="talks">&rarr; all talks</a></nav>
</div>
</div>	

</div>

<div class="unit-33">

<h2>Upcoming Talks</h2>
<ul class="compact fa-ul">
        {{ range first 5 (where .Data.Pages.ByDate "Section" "writing").Reverse }}
        <li><i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file {{ end }} fa-fw" style="color:#e88;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }} 
<a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
{{ if isset .Params "file" }}<a href="{{.Site.BaseURL}}/papers/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>{{ end }}
        </li>
		{{ end }}
</ul>
			
<footer class="group">	
<nav class="navbar navbar-right"><a href="writing">&rarr; All Writing</a></nav> 
</footer>

<h2>Recent &amp; Upcoming Presentations</h2>
	  <ul class="compact fa-ul">
        {{ range (where .Data.Pages.ByDate "Section" "upcoming").Reverse }}
	    {{ if (ge .Date.Unix .Now.Unix) }}
		{{ if (le .Date.Unix (add .Now.Unix 10368000)) }}
        <li><i class="fa-li fa fa-comment-o fa-fw" style="color:#b00;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"><em>{{ .Title | safeHTML }}</em></a>, {{ .Params.host | safeHTML }} ({{ .Date.Format "2 January 2006" }}). {{ partial "comingsoon.html" . }}
</li>		
		{{ end }}
		{{ end }}
		{{ if (ge .Now.Unix .Date.Unix ) }}
	    {{ if (le .Now.Unix (add .Date.Unix 12368000)) }}
        <li><i class="fa-li fa fa-comment-o fa-fw" style="color:#e88;font-size:80%;padding-top:6px;"></i><a href="{{ .Permalink }}"><em>{{ .Title | safeHTML }}</em></a>, {{ .Params.host | safeHTML }} ({{ .Date.Format "2 January 2006" }}).
</li>		
		{{ end }}
		{{ end }}
		{{ end }}
</ul>
<footer class="group">	
<nav class="navbar navbar-right"><a href="presentation">&rarr; All Presentations</a></nav> 
</footer>
</div>
</div>	

</div><!-- /end .wrapper -->

{{ partial "foot.html" . }}
</body>
</html>