{{ partial "headwithcard.html" . }}
{{ $baseurl := .Site.BaseURL }}
<body>
<div id="topbar">
<div class="wrapper">
	<header>
		<nav class="navbar">
			<ul>
				<li ><a href="{{ $baseurl }}"><b>ISE</b></a></li>
				<li><a href="{{ $baseurl }}/talks">All Talks</a></li>
				<li><a href="{{ $baseurl }}/upcoming">Up Coming talks</a></li>
				<li><span><a href="{{ $baseurl }}/presentation">Presentations</a></span></li>
			</ul>
		</nav>
	</header>
</div>
</div>

<div class="wrapper">
<div class="units-row">		
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2><a href="">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">		
<div class="unit-20 dateblock">{{if not (isset .Params "grlog") }}<h4>{{ .Date.Format "January 2, 2006" }}</h4>{{ else }}&nbsp;{{ end }}</div>
<div class="unit-60">
{{ .Content }}

<hr>
{{ if .PrevInSection }}
<a href="{{.PrevInSection.Permalink}}"> &larr;&nbsp;{{.PrevInSection.Title}}</a> |
{{ end }}
<a href="{{ $baseurl }}/talks/#{{ .Date.Format "2006" }}">Talks Archive</a>
{{ if .NextInSection }}
| <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&rarr;</a>
{{ end }}

</div>
	
</div>
</div>

<hr class="separator">

</body>
</html>


